h1{
    color: purple;
    font-size: 2em;
    font-weight: bold;
    
}
*{font-family: calibri, sans-serif;}
*{color: #2F4F4F;}

h2{
    color: rgb(0,128,128);
    font-size: 1.5x-large;
    font-weight: bold;
}



th{border: 1px solid black; }

td{border: 1px solid black; }

#H3{
    color: red;
}

aside, footer { font-style: italic; }  

h1,h2,h3{
    font-family: Arial,sans-serif;
}

.special {
          color: darkorange;
          font-weight:bold;
         } 

table{
    border: 1px solid black;
}


#images {
         text-align : center;  /* careful: center has US spelling */
}

nav a {
          text-decoration: none;
          padding:0.2em 0.6em;
          border: 4px solid darkgray;
         }      

.month{
    text-align: right;
}

ol { list-style-type : lower-roman; }

ol ul {
  list-style-type: square;
}


aside:hover {
    display: none;
}

nav a:hover{
    background-color: lightblue;
    border-color: darkblue;
}